<section class="uk-section" id="welcome">
  <div class="uk-container uk-container-xlarge">
    <div uk-grid class="uk-child-width-1-1@m uk-text-center">
      <div class="uk-light">
        <img uk-png src="/img/logo.png" alt="" width="250">
        <h1 class="uk-text-uppercase uk-title"> <span class="uk-text-rose">@Desenvolvedores</span>.Negros</h1>
        <p class="uk-text-large uk-subtitle">Quando os negros se unirem, os brancos e os chineses também o farão. <br />Mas é preciso que os negros façam isso primeiro.</p>
        <p class="uk-text-large">- Bob Marley</p>
      </div>
    </div>
  </div>
</section>

<section class="uk-section courses">
  <div class="uk-container uk-container-xlarge">
    <div class="uk-child-width-1-4@m uk-grid-match uk-grid-large" uk-grid>
        <% @courses.each do |course| %>
          <div>
            <a class="uk-display-block uk-link-toggle uk-card uk-card-secondary uk-card-body uk-text-center"
              href="/curso/<%= course.uuid %>">
                <img 
                  src="<%= course.user.photo %>" 
                  class="uk-border-circle" 
                  alt="<%= course.user.name %>" 
                  width="80" 
                  height="80" />
                <p>  <%= course.user.name %> </p>
              <h1 class="uk-card-title"> <%= course.name %> </h1>
            </a>
          </div>
        <% end %>
    </div>
  </div>
</section>
